body {
    background-color: #FFF8E7;
    font-family: 'Sono', serif;
}

.home {
    color: inherit;
    text-decoration: none;
}

.border {
    width:100%;
    display:block;
    overflow:hidden;
}
.border div {
    height:20px;
}
.border div:first-child {
    width:25%;
    background-color:#7BC4C4;
    float:left;
}
.border div:nth-child(2) {
    width:25%;
    background-color:#FF6F61;
    float:left
}
.border div:last-child {
    width:50%;
    background-color:#6667AB;
    float:left
}